# CAP cpapp
_out
*.db
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# The SAP Fiori build files do not need to be stored in GitHub. You can add it to your .gitignore file:
dist/
resources/
app/*/package-lock.json
